<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>代办事项</title>

</head>
<body>

<ul>
    {% for value in data %}
    <li> {{ value[1] }} <button onclick="myFunction({{ value[0] }})"> 删除 </button></li>
    {% endfor %}
</ul>
</body>
<script>
        function myFunction(index){
            console.log('deleting',index)
            fetch('http://127.0.0.1:5000/todo/'+index,{method:'DELETE'})
            .then(
                function(response){
                console.log(response.text());<!-- 点击删除，自己刷新页面消失-->
                return;
                }
            ).then(
                function(response){
                    window.location.reload();<!-- 自动删除-->
                }
            )
        }
</script>
</html>